
<div class="navbar">
  <a href="/students/<%=current_user.slug %>" class="active">Home</a>
  <a href="/posts">All Publications</a>
  <a href="/courses">All Courses</a>
  <a href="/logout" class="right">Log Out</a>
</div>



<h1 class="name"><%= @student.first_name %> <%= @student.last_name %></h1>

<h3>Here are <%= @student.first_name %>'s resourses:</h3>
    <ul>
      <p>  
        <% @student.posts.each do |post| %>
            <p>
            <div class="side">
            <h4><%= post.title %></h4>
            <p class="post"><%= post.content %></p>
            <a class="show" href="/posts/<%= post.id %>"> View Post </a>
            </div>
            </p>
           
            <% end %>
      </p>    
    </ul>

    <a href="/posts/new">Create a Post</a> <br></br>
    
   