
<div class="navbar">
<a href="/students/<%=current_user.slug %>">Home</a>
<a href="/posts">All Publications</a>
<a href="/courses">All Courses</a>
<a href="/logout" class="right">Log Out</a>
</div>

<h1><%= @course.name %></h1>
<h3><%= @course.description %></h3>

    <% if current_user.courses.include?(@course) %>  
        <form method="post" action="/courses/<%=@course.id%>/unenroll">
            <input type="hidden" name="_method" value="patch">
            <input type="submit" value="Unenroll">
        </form>
    <% else %>    
        <form method="post" action="/courses/<%=@course.id%>/enroll">
            <input type="hidden" name="_method" value="patch">
            <input type="submit" value="Enroll">
        </form> 
    <% end %>    








<a href="/posts/new">Create a Post</a>

<ul>    
    <% @posts.each do |post| %>
    <div class="side">
    <a href="/posts/<%= post.id %>"><%= post.title %></a><br>
        By: <strong><%= post.student.first_name %> <%= post.student.last_name %></strong><br>
       <p class="post"><%= post.content %></p>
    </div>
    <% end %>

</ul>