
<h1><%= @course.name %></h1>
<h3><%= @course.description %></h3>

<a href="/posts/new">Create a Post</a>

<ul>    
    <% @posts.each do |post| %>
    <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
        By: <strong><%= post.student.first_name %> <%= post.student.last_name %></strong><br>
        <%= post.content %>
     <% end %>

</ul>