<a href="/students/<%=current_user.slug %>">Home</a><br>

<h1>All Publications</h1>
<ul>
    <% @posts.each do |post| %>
        <h5><a href="/posts/<%= post.id %>"><%= post.title %></a></h5>

        Shared by: <%= @author.first_name %> <%= @author.last_name %><br>

        <%= post.content %><br>
        Published: <%= post.created_at %><br></br>
        <% if post.created_at != post.updated_at %>
            Edited: <%= post.updated_at %>
        <% end %>    
    <% end %>

</ul>
<h3>Find Resourses by Course</h3>
    <ul>
        <% @courses.each do |course| %>
        <li><%= course.name %></li>
        <% end %>
    </ul>

