<div class="navbar">
  <a href="/students/<%=current_user.slug %>">Home</a>
  <a href="/posts" class="active">All Publications</a>
  <a href="/courses">All Courses</a>
  <a href="/logout" class="right">Log Out</a>
</div>





<h1 class="head_of_page">All Publications</h1>
<div class="row">



<button class="button"> <a href="/posts/new">Create a Post</a></button> <br>

<ul>
    <% @posts.each do |post| %>
        <div class="side" >
        <p>
        <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>

        <p class="right"> Subject: <%= post.course.name %></p>


        <h4> Shared by: <a href="/students/<%= post.student.slug %>"><strong><%= post.student.first_name %> <%= post.student.last_name %></strong></a></h4>
        
        <p class="post"> <%= post.content %> </p><br>
        <h5> Published: <%= post.created_at %></h5>
        <% if post.created_at != post.updated_at %>
           <h5>Edited: <%= post.updated_at %></h5>     
        <% end %>
        </p>
        </div>
        <br>    
    <% end %>
           
</div>
