
<div class="navbar">
<a href="/students/<%=current_user.slug %>">Home</a>
<a href="/posts" class="active">All Publications</a>
<a href="/courses">All Courses</a>
<a href="/logout" class="right">Log Out</a>
</div>

<div class="side">
<h2>Title : <%= @post.title %></h2>
    <h3> Author: <a href="/students/<%= @post.student.slug %>" <strong><%= @post.student.first_name %> <%=@post.student.last_name %></a></strong></h3>
<div>
    <h3>Subject: <%= @post.course.name %><h3><br></br>
    <p class="post"><%= @post.content %></p>
    <h5> Published: <%= @post.created_at %></h5>
        <% if @post.created_at != @post.updated_at %>
           <h5>Edited: <%= @post.updated_at %></h5>     
        <% end %>
</div>
</p>
<br>
<% if current_user.id == @post.student_id %>
    <a href="/posts/<%= @post.id %>/edit"> Edit Post </a><br></br>
    <form method="post" action="/posts/<%=@post.id%>/delete">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>
    </div>
    <br>
<% end %>

