<a href="/students/<%=current_user.slug %>">Home</a><br>
<a href="/posts">All Publications</a></br>

<h2><%= @post.title %></h2>
    <h4>Author: <%= @author.first_name %> <%=@author.last_name %></h4>
<div>
    <%= @post.content %>
</div>

<% if current_user.id == @post.student_id %>
    <a href="/posts/<%= @post.id %>/edit"> Edit Post </a>
<% end %>
