
<div class="navbar">
<a href="/students/<%=current_user.slug %>">Home</a>
<a href="/posts" class="active">All Publications</a>
<a href="/courses">All Courses</a>
<a href="/logout" class="right">Log Out</a>
</div>

<h2><%= @post.title %></h2>
    Author: <strong><%= @post.student.first_name %> <%=@post.student.last_name %></strong>
<div>
    Course: <%= @post.course.name %><br></br>
    <%= @post.content %>
</div>
<br>
<% if current_user.id == @post.student_id %>
    <a href="/posts/<%= @post.id %>/edit"> Edit Post </a><br></br>
    <form method="post" action="/posts/<%=@post.id%>/delete">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>
<% end %>
